.drumsensei-logo {
  background-image: url('https://res.cloudinary.com/drumsensei/image/upload/v1569118877/ds-logo_byzymt.jpg');
	background-size: cover;
	background-position: center;
}

figcaption p {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 16px;
  font-size: 15px;
  text-align: center;
}
